<sw-page class="myfavOrgAclRole__list">
    <template #smart-bar-header>
        <h2>
            {{ $tc('myfav-org-acl-role.list.title') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        <sw-button
            :router-link="{ name: 'myfav.org.acl.role.create' }"
            class="myfav-org-acl-role-list__add-myfav-org-acl-role"
            variant="primary"
        >
            {{ $tc('myfav-org-acl-role.list.buttonAdd') }}
        </sw-button>
    </template>

    <template #content>
        <sw-entity-listing
            v-if="entitySearchable"
            class="myfav-org-acl-role-list__grid"
                detailRoute="myfav.org.acl.role.detail"
                :is-loading="isLoading"
                :columns="myfavOrgAclRoleColumns"
                :repository="myfavOrgAclRoleRepository"
                :items="myfavOrgAclRoles"
                :criteria-limit="limit"
                :sort-by="currentSortBy"
                :sort-direction="sortDirection"
                :disable-data-fetching="true"
                identifier="myfav-org-acl-role-form-list"
                @update-records="updateTotal"
                @page-change="onPageChange"
                @column-sort="onSortColumn"
            >
                <template #more-actions="{ item }">
                    <sw-context-menu-item
                        :router-link="{
                            name: 'myfav.org.acl.role.attribute.attribute',
                            params: { myfavOrgAclRoleId: item.id }
                        }"
                    >
                        Rechte verwalten
                    </sw-context-menu-item>
                </template>
            </sw-entity-listing>
    </template>
</sw-page>