.myfav-org-acl-role-add-button-container {
    margin-bottom: 2rem;
}

.myfav-org-acl-role-attribute-container {
    margin-bottom: 2rem;

    h2 {
        margin-bottom: 0;
    }
}

.myfav-org-acl-role-delete-warning {
    color: #9E0000;
}