{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_search_toggle %}
    {{ parent() }}

    <div class="col-auto">
        <div class="header-myfav-org-notification">
            <a class="btn header-actions-btn"
                href="{{ path('myfav.org.order.approval.list') }}"
                title="{{ 'myfav.org.header.notification'|trans|striptags }}"
                aria-label="{{ 'myfav.org.header.notification'|trans|striptags }}">
                <span class="header-wishlist-icon">
                    {% sw_icon 'bell-bell' %}
                </span>
            </a>
        </div>
    </div>
{% endblock %}