{% sw_extends '@MyfavOrg/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_link_orders %}
    {{ parent() }}

    {% block page_account_sidebar_link_myfav_org_employee_list %}
        <a href="{{ path('myfav.org.employee.list') }}"
            title="{{ 'myfav.org.employee.linkTitle'|trans|striptags }}"
            class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('myfav.org.employee.list') %} is-active{% endif %}"
            {% if activeRoute is same as('myfav.org.employee.list') %} aria-current="page"{% endif %}>
            {{ 'myfav.org.employee.linkTitle'|trans|sw_sanitize }}
        </a>
    {% endblock %}
{% endblock %}